/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

body {
  min-height: 2000px;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.719);
  color: rgb(0, 0, 0);
}
.logo {
  width: 1100px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 40px;
}
.logo .judul1 .menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}
.logo .judul1 .menu a:hover::after {
  transform: scaleX(0.5);
}
.judul {
  margin: 150px auto;
  text-align: center;
}
.judul span {
  color: rgb(123, 36, 231);
}
.judul button {
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
  transform: none;
}
.judul button:hover {
  background-color: black;
  color: white;
}
.judul1 {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: "Courier New", Courier, monospace;
  color: rgb(198, 163, 117);
  text-decoration: none;
}
.menu {
  display: flex;
  list-style: none;
  width: 40%;
  text-align: right;
  justify-content: space-around;
  flex-direction: row;
  padding: 12px;
  text-decoration: none;
  line-height: 80px;
  top: 0%;
  background-color: transparent;
}
.menu ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  color: black;
  font-weight: bold;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: right;
  padding: 20px;
  text-decoration: none;
}
.menu ul li a:hover {
  text-decoration: underline;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #faebd7;
}
.row {
  display: flex;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 20px;
}
.row .col1 img {
  display: flex;
  border-radius: 20px;
  margin-right: 10px;
  align-items: center;
}
.col img {
  display: grid;
  border-radius: 20px;
}
#skill {
  background-color: #faebd7;
}
/*Hamburger Menu Animation*/

/*responsive breakpoint*/

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
}
